<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_simple_mrp_root" name="الورشة" sequence="55"
              groups="group_simple_mrp_user" web_icon="simple_manufacturing,static/description/icon.png"/>

    <!-- العمليات -->
    <menuitem id="menu_simple_mrp_operations" name="العمليات"
              parent="menu_simple_mrp_root" sequence="10"/>
    <menuitem id="menu_simple_mrp_order" name="أوامر التصنيع"
              parent="menu_simple_mrp_operations" action="action_simple_mrp_order" sequence="10"/>
    <menuitem id="menu_simple_mrp_job" name="أوامر الشغل"
              parent="menu_simple_mrp_operations" action="action_simple_mrp_job" sequence="20"/>
    <menuitem id="menu_simple_mrp_do" name="التسليمات"
              parent="menu_simple_mrp_operations" action="action_simple_mrp_do" sequence="30"/>
    <menuitem id="menu_simple_mrp_mr" name="طلبات المواد"
              parent="menu_simple_mrp_operations" action="action_simple_mrp_mr" sequence="40"/>
    <menuitem id="menu_simple_mrp_qc" name="فحوص الجودة"
              parent="menu_simple_mrp_operations" action="action_simple_mrp_qc" sequence="50"/>
    <menuitem id="menu_simple_mrp_pr" name="طلبات الشراء"
              parent="menu_simple_mrp_operations" action="action_simple_mrp_pr" sequence="60"/>
    <menuitem id="menu_simple_mrp_survey" name="المعاينات"
              parent="menu_simple_mrp_operations" action="action_simple_mrp_survey" sequence="70"/>
    <menuitem id="menu_simple_mrp_bom" name="قوائم المواد"
              parent="menu_simple_mrp_operations" action="action_simple_mrp_bom" sequence="80"/>

    <!-- الميدان -->
    <menuitem id="menu_simple_mrp_field" name="الميدان"
              parent="menu_simple_mrp_root" sequence="20"/>
    <menuitem id="menu_simple_mrp_dp" name="التحضير اليومي"
              parent="menu_simple_mrp_field" action="action_simple_mrp_dp" sequence="10"/>
    <menuitem id="menu_simple_mrp_dr" name="التقرير اليومي"
              parent="menu_simple_mrp_field" action="action_simple_mrp_dr" sequence="20"/>
    <menuitem id="menu_simple_mrp_att" name="الحضور"
              parent="menu_simple_mrp_field" action="action_simple_mrp_att" sequence="30"/>
    <menuitem id="menu_simple_mrp_tc" name="بطاقات الوقت"
              parent="menu_simple_mrp_field" action="action_simple_mrp_tc" sequence="40"/>

    <!-- الجودة والسلامة -->
    <menuitem id="menu_simple_mrp_qhse" name="الجودة والسلامة"
              parent="menu_simple_mrp_root" sequence="30"/>
    <menuitem id="menu_simple_mrp_qc2" name="فحوص الجودة"
              parent="menu_simple_mrp_qhse" action="action_simple_mrp_qc" sequence="10"/>
    <menuitem id="menu_simple_mrp_ncr" name="عدم المطابقة"
              parent="menu_simple_mrp_qhse" action="action_simple_mrp_ncr" sequence="20"/>
    <menuitem id="menu_simple_mrp_tbt" name="السلامة"
              parent="menu_simple_mrp_qhse" action="action_simple_mrp_tbt" sequence="30"/>
    <menuitem id="menu_simple_mrp_mnt" name="الصيانة"
              parent="menu_simple_mrp_qhse" action="action_simple_mrp_mnt" sequence="40"/>

    <!-- التقارير -->
    <menuitem id="menu_simple_mrp_reports" name="التقارير"
              parent="menu_simple_mrp_root" sequence="40"/>
    <menuitem id="menu_simple_mrp_productivity" name="الإنتاجية"
              parent="menu_simple_mrp_reports" action="action_simple_mrp_productivity" sequence="10"/>
    <menuitem id="menu_simple_mrp_srd" name="المبيعات"
              parent="menu_simple_mrp_reports" action="action_simple_mrp_srd" sequence="20"/>

</odoo>
