@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    src: url('/rwasi_workshop/static/fonts/Tajawal-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    src: url('/rwasi_workshop/static/fonts/Tajawal-Bold.ttf') format('truetype');
}
.rwasi-doc,
.rwasi-doc * {
    font-family: 'Tajawal', sans-serif !important;
}
